[submodule "modules/tortoise_tts_api"]
	path = modules/tortoise_tts_api
	url = https://github.com/JarodMica/tortoise_tts_api
[submodule "modules/styletts-api"]
	path = modules/styletts-api
	url = https://github.com/JarodMica/styletts-api.git
[submodule "modules/F5-TTS"]
	path = modules/F5-TTS
	url = https://github.com/JarodMica/F5-TTS.git
