*.wav
*.pkl
*.exe
*.pt
*.whl

settings.json
tort.yaml
__pycache__/
.venv/
venv/
audiobooks/
output/
.vscode/
tortoise_api/
personal/

temp/
input_text_files/small_jp_test.txt
input_text_files/rezero_small_test.txt