QWidget, QMenu  {
    background-color: rgba(51, 51, 51, 0.3);
}

QMenuBar {
    background-color: rgba(51, 51, 51, 1.0);
}

QWidget {
    font-size: 14pt;
}

QPushButton {
    background-color: rgba(85, 85, 85, 1.0); 
    color: #eee;
    padding: 5px 15px;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: rgba(119, 119, 119, 1.0);  
}

QLabel, QLineEdit, QListWidget, QMenuBar, QMenu::item, QProgressBar, QComboBox, QTableWidget {
    color: #eee;
}

QListWidget::item:selected, QListWidget::item:hover, QTableWidget::item:selected, QTableWidget::item:hover {
    background-color: rgba(85, 85, 85, 1.0); 
    color: #eee;
}

QMenuBar::item {
    background-color: transparent;
}

QMenuBar::item:selected, QMenu::item:selected {
    background-color: rgba(85, 85, 85, 1.0);  
}

QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    background-color: rgba(51, 51, 51, 1.0);  
    color: #eee
}

QHeaderView::section {
    background-color: rgba(51, 51, 51, 1.0);  
    color: #eee;
    padding: 4px;
    border: 1px solid #555;
}

QMenu::item:disabled {
    color: #A9A9A9;
}

