QWidget, QMenu {
    background-color: #333;
}

QWidget {
    font-size: 14pt;
}

QPushButton {
    background-color: #555;
    color: #eee;
    padding: 5px 15px;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #777;
}

QLabel, QLineEdit, QListWidget, QMenuBar, QMenu::item, QProgressBar, QComboBox, QTableWidget {
    color: #eee;
}

QListWidget::item:selected, QListWidget::item:hover, QTableWidget::item:selected, QTableWidget::item:hover {
    background-color: #555;
    color: #eee;
}

QMenuBar::item {
    background-color: transparent;
}

QMenuBar::item:selected, QMenu::item:selected {
    background-color: #555;
}

QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    background-color: #333;
    color: #eee
}

QHeaderView::section {
    background-color: #333;
    color: #eee;
    padding: 4px;
    border: 1px solid #555;
}

QMenu::item:disabled {
    color: #A9A9A9;
}
